
<section id="movie">
    <div class="container">
        <div class="row">
            <h2 class="ir_so">영화</h2>
            <div class="movie">
                <div class="movie_title">
                    <ul class="clearfix">
                        <li class="active"><a href="#"><button type="button"style="width: 60px;height: 60px;"><img class="small_log" src="static/img/btn_netflix_circle.png" alt=""></button></a></li>
                        <li><a href="#"><button type="button" style="width: 60px;height: 60px;"><img class="small_log" src="static/img/btn_disney_circle.png" alt=""></button></a></li>
                        <li><a href="#"><button type="button"style="width: 60px;height: 60px;"><img class="small_log" src="static/img/btn_wavve_circle.png" alt=""></button></a></li>
                        <li><a href="#"><button type="button"style="width: 60px;height: 60px;"><img class="small_log" src="static/img/btn_watchaplay_circle.png" alt=""></button></a></li>
                    </ul>
                </div>
                <div class="movie_chart">
                    <div class="swiper-container2">
                        <div class="chart_cont1 swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="poster">
                                    <figure>
                                        <img src="static/img/poster08.jpg" srcset="static/img/poster08@2.jpg 2x" alt="마약왕">
                                    </figure>
                                    <div class="rank"><strong>8</strong></div>
                                </div>
                                <div class="infor">
                                    <h3><span class="icon a15 ir_pm">15세 이상 관람</span> <strong>마약왕</strong></h3>
                                    <div class="infor_btn">
                                        <a href="#">상세정보</a>
                                        <a href="#">바로보기</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  
<!-- //movie -->

