{% extends 'base/base.html' %}    
{% block content %}  
    <section id="banner">
        <div class="banner_menu">
            <h2 class="ir_so">배너 영역</h2>
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>
        <div class="slider">
           <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide ss1">
                        <div class="container">
                            <div class="row">
                                <h3>워킹데드</h3>
                                <p>좀비랑 싸우자 </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide ss2">
                        <div class="container">
                            <div class="row">
                                <h3>어벤져스 : 앤드게임</h3>
                                <p>역대 최단 기간 1000만 관객 돌파 기록 </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide ss3">
                        <div class="container">
                            <div class="row">
                                <h3>왕좌의 게임</h3>
                                <p>다 죽는다 </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </section>
    <!-- //banner -->    
    
    <section id="movie">
        <div class="container">
            <div class="row">
                <h2 class="ir_so">영화</h2>
                <div class="movie">
                    <div class="movie_title">
                        <ul class="clearfix">
                            <li class="active"><a href="#"><button type="button"style="width: 60px;height: 60px;"><img class="small_log" src="static/img/btn_netflix_circle.png" alt=""></button></a></li>
                            <li><a href="#"><button type="button" style="width: 60px;height: 60px;"><img class="small_log" src="static/img/btn_disney_circle.png" alt=""></button></a></li>
                            <li><a href="#"><button type="button"style="width: 60px;height: 60px;"><img class="small_log" src="static/img/btn_wavve_circle.png" alt=""></button></a></li>
                            <li><a href="#"><button type="button"style="width: 60px;height: 60px;"><img class="small_log" src="static/img/btn_watchaplay_circle.png" alt=""></button></a></li>
                        </ul>
                    </div>
                    <div class="movie_chart">
                        <div class="swiper-container2">
                           <div class="chart_cont1 swiper-wrapper">
                               <div class="swiper-slide">
                                   <div class="poster">
                                       <figure>                                            
                                            <img src="https://images.justwatch.com/poster/253033499/s592" alt="프리가이">                                            
                                       </figure>                                       
                                   </div>
                                   <div class="infor">
                                       <h3><strong>프리가이</strong></h3>
                                       <div class="infor_btn">
                                           <a href="#">상세정보</a>
                                           <a href="#">바로보기</a>
                                       </div>
                                   </div>
                               </div>
                               <div class="swiper-slide">
                                   <div class="poster">
                                       <figure>
                                           <img src="https://images.justwatch.com/poster/29989817/s592" srcset="static/img/poster02@2.jpg 2x" alt="신세계">
                                       </figure>                                                                              
                                   </div>
                                   <div class="infor">
                                       <h3><strong>신세계</strong></h3>
                                       <div class="infor_btn">
                                           <a href="#">상세정보</a>
                                           <a href="#">바로보기</a>
                                       </div>
                                   </div>
                               </div>
                               <div class="swiper-slide">
                                   <div class="poster">
                                       <figure>
                                           <img src="https://nujhrcqkiwag1408085.cdn.ntruss.com/static/upload/movie_poster_images/280x400/movie_104843_1649314656.jpg" srcset="static/img/poster03@2.jpg 2x" alt="마스터">
                                       </figure>                                       
                                   </div>
                                   <div class="infor">
                                       <h3><strong>마스터</strong></h3>
                                       <div class="infor_btn">
                                           <a href="#">상세정보</a>
                                           <a href="#">바로보기</a>
                                       </div>
                                   </div>
                               </div>
                               <div class="swiper-slide">
                                   <div class="poster">
                                       <figure>
                                           <img src="static/img/poster04.jpg" srcset="static/img/poster04@2.jpg 2x" alt="마약왕">
                                       </figure>                                       
                                   </div>
                                   <div class="infor">
                                       <h3><strong>마약왕</strong></h3>
                                       <div class="infor_btn">
                                           <a href="#">상세정보</a>
                                           <a href="#">바로보기</a>
                                       </div>
                                   </div>
                               </div>
                               <div class="swiper-slide">
                                   <div class="poster">
                                       <figure>
                                           <img src="static/img/poster05.jpg" srcset="static/img/poster05@2.jpg 2x" alt="마약왕">
                                       </figure>                                       
                                   </div>
                                   <div class="infor">
                                       <h3><strong>마약왕</strong></h3>
                                       <div class="infor_btn">
                                           <a href="#">상세정보</a>
                                           <a href="#">바로보기</a>
                                       </div>
                                   </div>
                               </div>
                               <div class="swiper-slide">
                                   <div class="poster">
                                       <figure>
                                           <img src="static/img/poster06.jpg" srcset="static/img/poster06@2.jpg 2x" alt="마약왕">
                                       </figure>                                       
                                   </div>
                                   <div class="infor">
                                       <h3><strong>마약왕</strong></h3>
                                       <div class="infor_btn">
                                           <a href="#">상세정보</a>
                                           <a href="#">바로보기</a>
                                       </div>
                                   </div>
                               </div>
                               <div class="swiper-slide">
                                   <div class="poster">
                                       <figure>
                                           <img src="static/img/poster07.jpg" srcset="static/img/poster07@2.jpg 2x" alt="마약왕">
                                       </figure>                                       
                                   </div>
                                   <div class="infor">
                                       <h3><strong>마약왕</strong></h3>
                                       <div class="infor_btn">
                                           <a href="#">상세정보</a>
                                           <a href="#">바로보기</a>
                                       </div>
                                   </div>
                               </div>
                               <div class="swiper-slide">
                                   <div class="poster">
                                       <figure>
                                           <img src="static/img/poster08.jpg" srcset="static/img/poster08@2.jpg 2x" alt="마약왕">
                                       </figure>                                       
                                   </div>
                                   <div class="infor">
                                       <h3><strong>마약왕</strong></h3>
                                       <div class="infor_btn">
                                           <a href="#">상세정보</a>
                                           <a href="#">바로보기</a>
                                       </div>
                                   </div>
                               </div>
                           </div>
                        </div>
                        <!-- //chart_cont1-->                        
                        <div class="swiper-container2">
                            <div class="chart_cont2 swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="poster">
                                        <figure>
                                            <img src="static/img/poster07.jpg" srcset="static/img/poster07@2.jpg 2x" alt="침묵">
                                        </figure>                                        
                                    </div>
                                    <div class="infor">
                                        <h3><strong>침묵</strong></h3>
                                        <div class="infor_btn">
                                            <a href="#">상세정보</a>
                                            <a href="#">바로보기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="poster">
                                        <figure>
                                            <img src="static/img/poster08.jpg" srcset="static/img/poster08@2.jpg 2x" alt="신세계">
                                        </figure>
                                        
                                    </div>
                                    <div class="infor">
                                        <h3><strong>신세계</strong></h3>
                                        <div class="infor_btn">
                                            <a href="#">상세정보</a>
                                            <a href="#">바로보기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="poster">
                                        <figure>
                                            <img src="static/img/poster07.jpg" srcset="static/img/poster07@2.jpg 2x" alt="마스터">
                                        </figure>
                                        
                                    </div>
                                    <div class="infor">
                                        <h3><strong>마스터</strong></h3>
                                        <div class="infor_btn">
                                            <a href="#">상세정보</a>
                                            <a href="#">바로보기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="poster">
                                        <figure>
                                            <img src="static/img/poster08.jpg" srcset="static/img/poster08@2.jpg 2x" alt="마약왕">
                                        </figure>
                                        
                                    </div>
                                    <div class="infor">
                                        <h3><strong>마약왕</strong></h3>
                                        <div class="infor_btn">
                                            <a href="#">상세정보</a>
                                            <a href="#">바로보기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="poster">
                                        <figure>
                                            <img src="static/img/poster08.jpg" srcset="static/img/poster08@2.jpg 2x" alt="마약왕">
                                        </figure>
                                        
                                    </div>
                                    <div class="infor">
                                        <h3><strong>마약왕</strong></h3>
                                        <div class="infor_btn">
                                            <a href="#">상세정보</a>
                                            <a href="#">바로보기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="poster">
                                        <figure>
                                            <img src="static/img/poster08.jpg" srcset="static/img/poster08@2.jpg 2x" alt="마약왕">
                                        </figure>
                                        
                                    </div>
                                    <div class="infor">
                                        <h3><strong>마약왕</strong></h3>
                                        <div class="infor_btn">
                                            <a href="#">상세정보</a>
                                            <a href="#">바로보기</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //chart_cont2-->
                        
                        <div class="swiper-container2">
                            <div class="chart_cont3 swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="poster">
                                        <figure>
                                            <img src="static/img/poster09.jpg" srcset="static/img/poster09@2.jpg 2x" alt="침묵">
                                        </figure>
                                        
                                    </div>
                                    <div class="infor">
                                        <h3><strong>침묵</strong></h3>
                                        <div class="infor_btn">
                                            <a href="#">상세정보</a>
                                            <a href="#">바로보기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="poster">
                                        <figure>
                                            <img src="static/img/poster01.jpg" srcset="static/img/poster01@2.jpg 2x" alt="신세계">
                                        </figure>
                                        
                                    </div>
                                    <div class="infor">
                                        <h3><span class="icon a12 ir_pm">19세 이상 관람</span> <strong>신세계</strong></h3>
                                        <div class="infor_btn">
                                            <a href="#">상세정보</a>
                                            <a href="#">바로보기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="poster">
                                        <figure>
                                            <img src="static/img/poster02.jpg" srcset="static/img/poster02@2.jpg 2x" alt="마스터">
                                        </figure>
                                        
                                    </div>
                                    <div class="infor">
                                        <h3><strong>마스터</strong></h3>
                                        <div class="infor_btn">
                                            <a href="#">상세정보</a>
                                            <a href="#">바로보기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="poster">
                                        <figure>
                                            <img src="static/img/poster03.jpg" srcset="static/img/poster03@2.jpg 2x" alt="마약왕">
                                        </figure>
                                        

                                    </div>
                                    <div class="infor">
                                        <h3><span class="icon a19 ir_pm">15세 이상 관람</span> <strong>마약왕</strong></h3>
                                        <div class="infor_btn">
                                            <a href="#">상세정보</a>
                                            <a href="#">바로보기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="poster">
                                        <figure>
                                            <img src="static/img/poster03.jpg" srcset="static/img/poster03@2.jpg 2x" alt="마약왕">
                                        </figure>
                                        
                                    </div>
                                    <div class="infor">
                                        <h3><span class="icon a19 ir_pm">15세 이상 관람</span> <strong>마약왕</strong></h3>
                                        <div class="infor_btn">
                                            <a href="#">상세정보</a>
                                            <a href="#">바로보기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="poster">
                                        <figure>
                                            <img src="static/img/poster03.jpg" srcset="static/img/poster03@2.jpg 2x" alt="마약왕">
                                        </figure>
                                        
                                    </div>
                                    <div class="infor">
                                        <h3><span class="icon a19 ir_pm">15세 이상 관람</span> <strong>마약왕</strong></h3>
                                        <div class="infor_btn">
                                            <a href="#">상세정보</a>
                                            <a href="#">바로보기</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //chart_cont3-->
                        
                        <div class="swiper-container2">
                            <div class="chart_cont4 swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="poster">
                                        <figure>
                                            <img src="static/img/poster04.jpg" srcset="static/img/poster04@2.jpg 2x" alt="침묵">
                                        </figure>
                                        

                                    </div>
                                    <div class="infor">
                                        <h3><strong>침묵</strong></h3>
                                        <div class="infor_btn">
                                            <a href="#">상세정보</a>
                                            <a href="#">바로보기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="poster">
                                        <figure>
                                            <img src="static/img/poster05.jpg" srcset="static/img/poster05@2.jpg 2x" alt="신세계">
                                        </figure>
                                        

                                    </div>
                                    <div class="infor">
                                        <h3><strong>신세계</strong></h3>
                                        <div class="infor_btn">
                                            <a href="#">상세정보</a>
                                            <a href="#">바로보기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="poster">
                                        <figure>
                                            <img src="static/img/poster06.jpg" srcset="static/img/poster06@2.jpg 2x" alt="마스터">
                                        </figure>
                                        
                                    </div>
                                    <div class="infor">
                                        <h3><strong>마스터</strong></h3>
                                        <div class="infor_btn">
                                            <a href="#">상세정보</a>
                                            <a href="#">바로보기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="poster">
                                        <figure>
                                            <img src="static/img/poster07.jpg" srcset="static/img/poster07@2.jpg 2x" alt="마약왕">
                                        </figure>
                                    </div>
                                    <div class="infor">
                                        <h3><strong>마약왕</strong></h3>
                                        <div class="infor_btn">
                                            <a href="#">상세정보</a>
                                            <a href="#">바로보기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="poster">
                                        <figure>
                                            <img src="static/img/poster07.jpg" srcset="static/img/poster07@2.jpg 2x" alt="마약왕">
                                        </figure>
                                        

                                    </div>
                                    <div class="infor">
                                        <h3><strong>마약왕</strong></h3>
                                        <div class="infor_btn">
                                            <a href="#">상세정보</a>
                                            <a href="#">바로보기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="poster">
                                        <figure>
                                            <img src="static/img/poster07.jpg" srcset="static/img/poster07@2.jpg 2x" alt="마약왕">
                                        </figure>
                                        
                                    </div>
                                    <div class="infor">
                                        <h3><strong>마약왕</strong></h3>
                                        <div class="infor_btn">
                                            <a href="#">상세정보</a>
                                            <a href="#">바로보기</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //chart_cont4-->
                    </div>
                </div>
            </div>
        </div>
    </section>  
    <!-- //movie -->
   
    
    <section id="new">
        <div class="container">
            <div class="row">
                <div class="new">
                    <h2><em>추천 영화</em></h2>
                    <div class="new_left">
                        <div class="play" id="showTrailer" data-youtube="F1239ZePXfM">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve">
                                <circle class="st0" cx="60" cy="60.4" r="56"/>
                                <path class="st1" d="M81,65.4c4.8-2.8,4.8-7.2,0-10L53.5,39.6c-4.8-2.8-8.7-0.5-8.7,5v31.7c0,5.5,3.9,7.8,8.7,5L81,65.4z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="new_right">
                        <h3 class="title">로그 원: 스타워즈 스토리</h3>
                        <span class="release">2016</span>
                        <div class="star">
                            <span class="icon star1"></span>
                            <span class="icon star1"></span>
                            <span class="icon star1"></span>
                            <span class="icon star1"></span>
                            <!-- <span class="icon star1"></span> -->
                            <span class="icon star0"></span>
                            <strong>8/10</strong>
                        </div>
                        <ul class="summary">
                            <li class="director"><span>감독 : </span><span class="bar">홍길동</span>
                            <li class="actors"><span>배우 : </span><span class="bar">유재석, 노홍철, 정준하, 하하, 박명수</span>    
                            <li class="genre"><span>장르 : </span><span class="bar">액션</span>
                            <li class="runtime"><span>재생 : </span><span class="bar">2시간 22분</span>
                            <li class="synopsis">시놉시스</li>                           
                            <li class="desc">단숨에 행성 하나를 파괴할 위력을 지닌 데스 스타가 완성되기 전에 설계도를 훔쳐내야 하는 이번 작전의 성공 확률은 고작 2.4%. 생사도 모르는 아버지에 얽힌 비밀을 밝히려는 진을 ...비롯해 유능한 정보 요원 ‘카시안’(디에고 루나), 두 눈이 멀었지만 탁월한 무술 실력을 지닌 ‘치루트’(견자단), 전투 베테랑 ‘베이즈’, 파일럿 ‘보디’, 시니컬한 드로이드 ‘K-2SO’까지 합류, 거대한 전쟁을 끝낼 ‘로그 원’이 이끄는 가장 비밀스런 작전이 시작되는데…</li>
                        </ul>                       
                    </div>
                </div>
            </div>
        </div>
    </section>    

    <!-- 트레일러 -->
    <aside role="complementary" id="blackout" class="overlay">
        <div id="trailerModal" class="modal">
            <div id="trailer"></div><!-- YouTube 플레이어로 대체되는 부분 -->
        </div>
        <button id="hideTrailer" class="modal_close">닫기</button>
    </aside>
    
    
    <!-- 자바스크립트 라이브러리 -->
    <script src="static/js/jquery.min_1.12.4.js"></script>
    <script src="static/js/modernizr-custom.js"></script>
    <script src="static/js/ie-checker.js"></script>
    <script src="static/js/swiper.min.js"></script>
    <script src="static/js/iframe_api.js"></script>
    <script src="static/js/movie.js"></script>
    <script>
        //배너 이미지 슬라이드
        var swiper = new Swiper('.swiper-container',{
            pagination: {
                el: '.swiper-pagination',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            autoplay: {
                delay: 5000,
            },
        });
        
        //영화차트 이미지 슬라이드
        var swiper = new Swiper('.swiper-container2',{
            slidesPerView: 5,
            spaceBetween: 15,
//            mousewheel: {
//                invert: true,
//            },
            keyboard: {
                enabled: true,
                onlyInViewport: false,
            },
            autoplay: {
                delay: 10000,
            },
            breakpoints: {
                600: {
                    slidesPerView: 1.4,
                    spaceBetween: 24
                },
                768: {
                    slidesPerView: 2,
                    spaceBetween: 24
                },
                960: {
                    slidesPerView: 3,
                    spaceBetween: 24
                }
            }
        });
        
        //영화차트 탭 메뉴
        var movBtn = $(".movie_title > ul > li");    
        var movCont = $(".movie_chart > div");  

        movCont.hide().eq(0).show();

        movBtn.click(function(e){
            e.preventDefault();
            var target = $(this);         
            var index = target.index();  
            movBtn.removeClass("active");   
            target.addClass("active");    
            movCont.css("display","none");
            movCont.eq(index).css("display","block");
        });
        
        //공지사항 탭 메뉴
        var tabMenu = $(".notice");

        //컨텐츠 내용을 숨겨주세요!
        tabMenu.find("ul > li > ul").hide();
        tabMenu.find("li.active > ul").show();

        function tabList(e){
            e.preventDefault();       //#의 기능을 차단
            var target = $(this);
            target.next().show().parent("li").addClass("active").siblings("li").removeClass("active").find("ul").hide();
            //버튼을 클릭하면 ~ div를 보여주고
            //부모의 li 태그에 클래스 추가하고
            //형제의 li 태그에 클래스 제거하고
            //제거한 자식의 div 태그를 숨겨줌 
        }

        tabMenu.find("ul > li > a").click(tabList).focus(tabList);
        
    </script>
</body>
</html>
{% endblock %}